{% extends 'flatpages/default.html' %}
{% load custom_filters %}
{% load custom_tags %}

{% block title %}
Publications
{% endblock title %}

{% block content %}
<h1>Количество публикаций на странице: {{ posts.count }}</h1>
<h3>{% current_time '%d %b %Y' %}</h3>
<h3> {{ next_sale|default_if_none:"Портал в стадии разработки!" }} </h3>
<hr>
{% if posts %}
<table style="border: 1px solid #afabab;">
    <tr style="border: 1px solid #afabab;">
        <td style="border: 1px solid #afabab;">ID</td>
        <td style="border: 1px solid #afabab;">Заголовок</td>
        <td style="border: 1px solid #afabab;">Дата публикации</td>
        <td style="border: 1px solid #afabab;">Автор</td>
        <td style="border: 1px solid #afabab;">Тип</td>
        <td style="border: 1px solid #afabab;">Текст</td>
    </tr>
    {% for post in posts %}
    <tr style="border: 1px solid #afabab;">
        <td style="border: 1px solid #afabab;">{{ post.pk }}</td>
        <td style="border: 1px solid #afabab;">{{ post.post_title|censor }}</td>
        <td style="border: 1px solid #afabab;">{{ post.date_creation }}</td>
        <td style="border: 1px solid #afabab;">{{ post.author }}</td>
        <td style="border: 1px solid #afabab;">{{ post.get_post_type_display }}</td>
        <td style="border: 1px solid #afabab;">{{ post.post_text|truncatewords:20|censor }}</td>
    </tr>
    {% endfor %}
</table>
{% else %}
<h2>Публикаций нет!</h2>
{% endif %}
{% if page_obj.has_previous %}
<a href="?page=1">1</a>
{% if page_obj.previous_page_number != 1 %}
...
<a href="?page={{ page_obj.previous_page_number }}">{{ page_obj.previous_page_number }}</a>
{% endif %}
{% endif %}

{{ page_obj.number }}

{% if page_obj.has_next %}
<a href="?page={{ page_obj.next_page_number }}">{{ page_obj.next_page_number }}</a>
{% if paginator.num_pages != page_obj.next_page_number %}
...
<a href="?page={{ page_obj.paginator.num_pages }}">{{ page_obj.paginator.num_pages }}</a>
{% endif %}
{% endif %}

{% endblock content %}